@model IEnumerable<iNote.Models.NoteInfo>
@{
    //var some = (ViewBag.isChanging == 1) ? (ViewData["Title"] = "Создание новой заметки") : (ViewData["Title"] = "Изменение заметки");
    if (ViewBag.isCreating == 1)
    {
        ViewData["Title"] = "Создание новой заметки";
    } else
    {
        ViewData["Title"] = "Изменение заметки";
        //ViewData["EntryFieldName"] = "value=\""+Model.Title ;
    }
}
<form method="post" class="form-horizontal" role="form">
    <!--<input type="hidden" value="@ViewBag.PhoneId" name="PhoneId" />-->
    <h2>@ViewData["Title"]</h2>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Название:</label>
        <div class="col-md-4">
            <input type="text" name="Title" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Текст:</label>
        <div class="col-md-4">
            <input type="text" name="Desc" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Цвет:</label>
        <div class="col-md-4">
            <input type="text" name="Color" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Отправить" />
        </div>
    </div>
</form>
