@model IEnumerable<iNote.Models.NoteInfo>
@{
    ViewData["Title"] = "Список заметок";
}

<div class="text-center">
    <h3>Заметки</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Дата последнего изменения</td>
        </tr>
        @foreach (var Note in Model)
        {
            <tr>
                <td><a class="text-@Note.Color" href="~/Home/viewing/@Note.Id">@Note.Title</a></td>
                <td>@Note.LastChange</td>
            </tr>
        }
    </table>
</div>
