@model IEnumerable<iNote.Models.NoteInfo>
@{
    ViewData["Title"] = "Список заметок";
}

<div class="text-center">
    <h3>Заметки</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var Note in Model)
        {
            <tr>
                <td>@Note.Title</td>
                <td>@Note.Desc</td>
                <td>@Note.Color</td>
                <td><a href="~/Home/changing/@Note.Id">Редактировать</a></td>
            </tr>
        }
    </table>
</div>
