@model iNote.Models.Note
@{
    ViewData["Title"] = "Заметка - " + Model.Title;
    ViewBag.Color = $"bg-{Model.Color}";
}
<h2>@Model.Title</h2>
<p>@Model.Desc</p>
<p>Дата последнего изменения - @Model.LastChange</p>